*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 1600px;
    background-color: #FFFFFF;
}

header img{
    width: 139px;
    height: 60px;
    margin: 16px 0 16px 120px;
}

header ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    margin: 34px 346px;
}

header ul li a{
    text-decoration: none;
    color:#000000;
}
header ul li a:hover{
    background-color: #627382;
}

header button{
    font-size: 16px;
    font-style: bold;
    padding: 12.5px 16px;
    margin: 24px 12px 24px 0;
    background-color: #469165;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
}


.hero-section{
    background-image:url(assets/hero-bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 674px;
    width: 1600px;
}

.hero-section .hero-content{
    text-align: center;
    width: 1360px;
    height: 379px;
    padding: 115.5px 120px 0 120px;
}
.hero-section .hero-content .pra{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 1000px;
    display: inline;
    color: #469165;
    
}
.hero-section .hero-content h1{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 72px;
    font-style: bold;
    line-height: 84px;
}

.hero-section .hero-content h1 span{
    color: #30B868;
}
.hero-section .hero-content .pra1{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-family: "Oswald", sans-serif;

}
.hero-section .hero-content .hero-btn{
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    
    
}
.hero-section .hero-content .hero-btn button{
    font-size: 16px;
    font-style: bold;
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
}
.hero-section .hero-content .hero-btn button:hover{
     cursor: pointer;
    background-color: #30B868;
}
.hero-section .hero-content .hero-btn .hero-btn-child{
    font-size: 16px;
    font-style: bold;
    padding: 12.5px 16px;
    background: none;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}
.hero-section .hero-content .hero-btn .hero-btn-child:hover{
    cursor: pointer;
    background-color: #30B868;
}
.hero-notos{
    background-color: #FFFFFF;
    text-align: center;
    
}

.hero-notos h2{
    font-size: 48px;
    margin-top: 48px;
   
}
.hero-notos p{
    font-size: 16px;
    color: #627382;
    margin: 16px;
    margin-bottom: 48px;
    font-family: "Oswald", sans-serif;

}
.hero-notos .hero-content-notos{
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 1600px;
}
.hero-notos .hero-content-notos .hero-content-card{
    width: 322px;
    height: 300px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding-top:69px;
    border-radius: 8px 8px 0px 8px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
   
}
.hero-notos .hero-content-notos .hero-content-card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    padding: 16.11px ;
    border-radius: 50%;
}
.hero-notos .hero-content-notos .hero-content-card h3{
    margin-top: 16px;
    font-size: 24px;
    font-style: bold;
    color: #001931;
    
}
.hero-notos .hero-content-notos .hero-content-card p{
     font-size: 16px;
     font-family: "Oswald", sans-serif;
     line-height: 16px;
     color: #627382;
     padding: 0px 24px 69.5px 24px;

}
.hero-lern{
    width: 1600px;
    height: 840px;
    margin-top: -90px;
    background-color: #FFFFFF;
    position: absolute;
    

}


.hero-lern-content{
    display: flex;
    height: 600px;
    width: 1360px;
    margin: 120px;
    gap: 60px;
    
}

.hero-lern-First img{
    height: 600px;
    width: 600px;
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
    
}
.hero-lern-second{
    margin: 150px 12px 22px 0px;
    height: 396px;
    width:700px;
}
.hero-lern-second .pra{
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-family: "Oswald", sans-serif;
}

.hero-lern-second h2{
      font-size: 48px;
      color: #001931;
      font-style: bold;
      margin:16px 0 16px 0;
}
.hero-lern-second .pra-2{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 40px;
}

.hero-lern-second p .pra-3{
    color: #001931;
    font-size: 16px;
    line-height: 16px;
    font-family: "Oswald", sans-serif;
    font-style:normal;
}
.hero-lern-second i{
    height: 16.25px;
    width: 16.25px;
    background-color:#30B868;
    border-radius: 50%;
    color:#FFFFFF;
    font-size: 12px;
    text-align: center;
    justify-items: center;
    margin-right: 6px;
   


   
}
.hero-access{
    background-color:#F7F6F2;
    text-align: center;
    height: 384px;
    width: 1360px;
    margin: 794px 120px 120px 120px;
    position: absolute;
    
}

.hero-access h2{
    margin-top: 80px;
      font-size: 40px;
      color: #001931;
      font-style: bold;

}
.hero-access p{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    font-family: "Oswald", sans-serif;
    margin: 16px;
}
.hero-access button{
    font-size: 16px;
    font-style: bold;
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-style: none;
    border-radius: 4px;
}

footer{
    margin-top:1298px;
    background-color: #001931;
    width: 1600px;
    height: 328px;
 
}

footer .footer-main{
    display: flex;
    /* justify-content: space-around; */
    gap: 850px;
  
}



footer p{
    color: #FFFFFF;
    margin-bottom: 16px;
    
}

.footer-content, .footer-info {
    margin: 120px 120px 100px 120px;
}
footer .footer-copyrightlink{
  text-align: center;
 
  font-size: 16px;
  color: #FAFAFA;
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  
}

body button:hover{
    cursor: pointer;
    background-color: #30B868;
}

